---
dist: trusty
language: perl
perl:
  - "5.26.0"
sudo: required

before_install:
  ## Install SSL
  - sudo apt-get update

  ## Install conda
  - wget https://repo.anaconda.com/miniconda/Miniconda3-4.5.11-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - source $HOME/miniconda/etc/profile.d/conda.sh
  - conda activate base
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a

  ## Download cpan libraries
  - cpanm --quiet --notest --installdeps .

  ## Set up for cpanm dependencies test
  - cpanm --notest Devel::Cover::Report::Coveralls

install:
  ## Test installation script and gather coverage information
  - PERL5OPT=-MDevel::Cover=-ignore,"^t/",-coverage,statement,branch,condition,path,subroutine perl t/mip_install.test
  ## Generate rare disease installation script
  - PERL5OPT=-MDevel::Cover=-ignore,"^t/",-coverage,statement,branch,condition,path,subroutine perl mip install --bash_set_errexit --envn mip_travis --select_program mip_scripts python
  ## Install MIP rare disease
  - bash mip.sh
  ## Special case: Install bcftools since it is required by some tests
  - conda install -n mip_travis --channel bioconda --channel conda-forge bcftools=1.9=ha228f0b_4

script:
  ## Test MIP rd_dna
  - conda activate mip_travis
  ## Set-up test coverage for test directory "t"
  - PERL5OPT=-MDevel::Cover=-ignore,"^t/",+ignore,"prove",-coverage,statement,branch,condition,path,subroutine prove -lrs -f -j 9 t
  ### Download
  ## Set-up test coverage for mip_download_rd_dna.test
  - PERL5OPT=-MDevel::Cover=-ignore,"^t/",-coverage,statement,branch,condition,path,subroutine perl t/mip_download_rd_dna.test
  ## Set-up test coverage for mip_download_rd_dna.test
  - PERL5OPT=-MDevel::Cover=-ignore,"^t/",-coverage,statement,branch,condition,path,subroutine perl t/mip_download_rd_rna.test
  ### Analyse
  ## Set-up test coverage for mip_analyse_rd_dna.test
  - PERL5OPT=-MDevel::Cover=-ignore,"^t/",-coverage,statement,branch,condition,path,subroutine perl t/mip_analyse_rd_dna.test
  ## Set-up test coverage for mip_analyse_vcf_rerun.test
  - PERL5OPT=-MDevel::Cover=-ignore,"^t/",-coverage,statement,branch,condition,path,subroutine perl t/mip_analyse_rd_dna_vcf_rerun.test
  ## Set-up test coverage for mip qccollect
  - PERL5OPT=-MDevel::Cover=-ignore,"^t/",-coverage,statement,branch,condition,path,subroutine perl t/mip_qccollect.test
  ## Set-up test coverage for mip vercollect
  - PERL5OPT=-MDevel::Cover=-ignore,"^t/",-coverage,statement,branch,condition,path,subroutine perl t/mip_vercollect.test
  ## Set-up test coverage for mip vcfparser
  - PERL5OPT=-MDevel::Cover=-ignore,"^t/",-coverage,statement,branch,condition,path,subroutine perl t/mip_vcfparser.test
  ## Set-up test coverage for mip_analyse_vcf_rerun.test
  - PERL5OPT=-MDevel::Cover=-ignore,"^t/",-coverage,statement,branch,condition,path,subroutine perl t/mip_analyse_dragen_rd_dna.test
  ## Set-up test coverage for mip_analyse_rd_dna_panel.test
  - PERL5OPT=-MDevel::Cover=-ignore,"^t/",-coverage,statement,branch,condition,path,subroutine perl t/mip_analyse_rd_dna_panel.test
  ## Set-up test coverage for mip_analyse_rna.test
  - PERL5OPT=-MDevel::Cover=-ignore,"^t/",-coverage,statement,branch,condition,path,subroutine perl t/mip_analyse_rd_rna.test
  ## Get some coverage statistics
  - cover

after_success:
  ## Generate report for coveralls
  - cover -report coveralls
