---
extends: default

rules:
    commas: 
      max-spaces-before: 1
    empty-lines:
      max-end: 1
    indentation: 
      spaces: 2 
      indent-sequences: whatever
    line-length: disable
    truthy: 
      allowed-values: ['true', 'false', 'yes', 'no']
