---
## Environment
analysis_constant_path: analysis
max_cores_per_node: 36
node_ram_memory: 192
project_id: travis_test
load_env:
  mip_travis:
    method: conda
    mip:
slurm_quality_of_service: low
## Input
pedigree_file: cluster_constant_path!/case_id!/case_id!_pedigree.yaml
reference_dir: cluster_constant_path!/references
sv_vcfparser_select_file: cluster_constant_path!/case_id!/aggregated_gene_panel_test.txt
vcfparser_select_file: cluster_constant_path!/case_id!/aggregated_gene_panel_test.txt
## Output
config_file_analysis: cluster_constant_path!/case_id!/analysis_constant_path!/case_id!_config.yaml
outdata_dir: cluster_constant_path!/case_id!/analysis_constant_path!
outscript_dir: cluster_constant_path!/case_id!/analysis_constant_path!/scripts
sample_info_file: cluster_constant_path!/case_id!/analysis_constant_path!/case_id!_qc_sample_info.yaml
## References
fqa_vcfanno_config: grch37_frequency_vcfanno_filter_config_-v1.3-.toml
genmod_annotate_cadd_files:
  - grch37_cadd_whole_genome_snvs_-v1.4-.tsv.gz
  - grch37_cadd_gnomad.genomes.r2.0.1_-v1.4-.tsv.gz
genmod_annotate_spidex_file: grch37_spidex_public_noncommercial_-v1_0-.tab.gz
genmod_models_reduced_penetrance_file: grch37_cust003-cmms-red-pen_-2017-.tsv
human_genome_reference: grch37_homo_sapiens_-d5-.fasta
rank_model_file: rank_model_cmms_-v1.28-.ini
sv_fqa_vcfanno_config: grch37_frequency_vcfanno_filter_config_-v1.1-.toml
sv_genmod_models_reduced_penetrance_file: grch37_cust003-cmms-red-pen_-2017-.tsv
sv_rank_model_file: svrank_model_cmms_-v1.8-.ini
sv_svdb_query_db_files:
#  FORMAT: filename|OUT_FREQUENCY_INFO_KEY|OUT_ALLELE_COUNT_INFO_KEY|IN_FREQUENCY_INFO_KEY|IN_ALLELE_COUNT_INFO_KEY|USE_IN_FREQUENCY_FILTER
  grch37_gnomad.genomes_-r2.1.1_sv-.vcf: gnomad_sv|AF|AC|AF|AC|1
  grch37_mip_sv_svdb_export_-2018-10-09-.vcf: clinical_genomics_mip|AF|OCC|FRQ|OCC|1
  grch37_svdb_query_decipher_-v1.0.0-.vcf: decipher|AF|OCC|FRQ|OCC
  grch37_svdb_query_clingen_cgh_benign_-v1.0.0-.vcf: clingen_cgh_benign
  grch37_svdb_query_clingen_cgh_pathogenic_-v1.0.0-.vcf: clingen_cgh_pathogenic
  grch37_svdb_query_clingen_ngi_-v1.0.0-.vcf: clingen_ngi|AF|OCC|FRQ|OCC|1
  grch37_swegen_concat_sort_-20170830-.vcf: swegen|AF|OCC|FRQ|OCC|1
vcf2cytosure_blacklist: grch37_cytosure_blacklist_-1.0-.bed
### Analysis
## Programs
## Parameters
dragen_analysis_dir: cluster_constant_path!/case_id!/analysis_constant_path!
dragen_fastq_list_file_path: cluster_constant_path!/case_id!/analysis_constant_path!/fastq_list.csv
dragen_hash_ref_dir_path: grch37_homo_sapiens_-d5-.fasta_dragen
dragen_user_at_hostname: dragen@hostname
fqf_annotations:
  - GNOMADAF
  - GNOMADAF_popmax
  - SWEGENAF
sv_genmod_models_case_type: cmms
sv_vep_plugin:
  ExACpLI:
   exists_check: file
   path: cluster_constant_path!/references/gnomad_pli_per_gene_-_r2.1.1-.txt
vep_custom_annotation:
  genomic_superdups_frac_match:
   annotation_type: overlap
   force_report_coordinates: 0
   key: genomic_superdups_frac_match
   file_type: bed
   path: cluster_constant_path!/references/grch37_genomics_super_dups_-20181009.bed.gz
  clinvar:
   annotation_type: exact
   force_report_coordinates: 0
   key: CLINVAR
   file_type: vcf
   path: cluster_constant_path!/references/grch37_clinvar_reformated_-20190305-.vcf.gz
   vcf_fields: CLNSIG,CLNVID,CLNREVSTAT
vep_directory_cache: cluster_constant_path!/references/ensembl-tools-data/cache/
vep_plugins_dir_path: cluster_constant_path!/references/ensembl-tools-data/cache/Plugins
vep_plugin:
  dbNSFP:
   exists_check: file
   parameters:
    - GERP++_RS
    - GERP++_NR
    - phyloP100way_vertebrate
    - phastCons100way_vertebrate
    - REVEL_rankscore
   path: cluster_constant_path!/references/grch37_dbnsfp_-v3.5a-.txt.gz
  ExACpLI:
   exists_check: file
   path: cluster_constant_path!/references/gnomad_pli_per_gene_-_r2.1.1-.txt
  LoFtool:
   exists_check: file
   path: cluster_constant_path!/references/ensembl-tools-data/cache/Plugins/LoFtool_scores.txt
  MaxEntScan:
   exists_check: directory
   parameters:
    - SWA
    - NCSS
   path: cluster_constant_path!/references/ensembl-tools-data/cache/Plugins/fordownload
