---
## Environment
analysis_constant_path: analysis
bash_set_errexit: 1
bash_set_nounset: 0
bash_set_pipefail: 1
java_use_large_pages: 1
max_cores_per_node: 36
core_ram_memory: 5
node_ram_memory: 180
project_id: test
load_env:
  MIP_rd_rna:
    installation: emip
    method: conda
    mip:
slurm_quality_of_service: low
## Input
pedigree_file: cluster_constant_path!/case_id!/case_id!_pedigree.yaml
reference_dir: cluster_constant_path!/references
## Output
config_file_analysis: cluster_constant_path!/case_id!/analysis/case_id!_config.yaml
outdata_dir: cluster_constant_path!/case_id!/analysis_constant_path!
outscript_dir: cluster_constant_path!/case_id!/analysis_constant_path!/scripts
sample_info_file: cluster_constant_path!/case_id!/analysis_constant_path!/case_id!_qc_sample_info.yaml
## References
human_genome_reference: grch37_homo_sapiens_-d5-.fasta
star_fusion_genome_lib_dir: cluster_constant_path!/references/grch37_v19_CTAT_lib_Feb092018
### Analysis
## Programs
## Parameters
picardtools_path: cluster_constant_path!
vep_directory_cache: cluster_constant_path!/modules/miniconda/envs/MIP_rd_rna/ensembl-tools-97/cache/
